@import '../../assets/css/response.scss';

*{
    padding:0;
    margin:0;

    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "MicrosoftYaHei", sans-serif;
}
body,html{
}

#app{
    height:calc(100vh - 160px);
    max-width:1200px;
    margin:auto;
    margin-top:80px;
    border:1px solid black;
}

#header{
    background:#000;
    height:80px;
    padding:0 20px;
    max-width:1200px;
    margin:auto;
    @include media(w1200){
        margin:0 20px;
    }
    .navbar-brand{
        float:left;
        line-height:80px;
        width: 100px;
        a{
            text-decoration: none;
            color:#fff;
        }
    }
    .navbar-navlist,.navbar-status{
        ul{
            list-style-type: none;
            line-height:80px;
            li{
                float:left;
                margin-left:20px;
                a{
                    color:#fff;
                    text-decoration: none;
                }
            }
        }
    }
    .navbar-status{
        float:right;
    }
}

#footer{
    border-top:1px solid #ccc;
}